<% layout("/layouts/boilerplate") %>

<body>
    <h1>Your Listings</h1>

    <% if (listings.length === 0) { %>
        <p>You haven't created any listings yet.</p>
    <% } else { %>
        <div class="row">
            <% listings.forEach(listing => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text"><%= listing.description %></p>
                            <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</body>
