<% layout("/layouts/boilerplate") %>
<body>
<div class="container">
    <h1>Your Bookings</h1>
    <% if (bookings.length === 0) { %>
        <p>You have no bookings yet.</p>
    <% } else { %>
        
        <ul class="list-group">
            <% bookings.forEach(booking => { %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="<%= booking.listing.image.url %>" alt="<%= booking.listing.title %>" class="img-fluid">
                        </div>
                        <div class="col-md-10">
                            <h4><%= booking.listing.title %></h4>
                            <p>Check-in: <%= booking.checkInDate.toDateString() %></p>
                            <p>Check-out: <%= booking.checkOutDate.toDateString() %></p>
                            <p>Total Price: $<%= booking.totalPrice %></p>
                            <a href="/listings/<%= booking.listing._id %>" class="btn btn-primary">View Listing</a>
                            <% if (!booking.canceled) { %>
                                <form action="/bookings/<%= booking._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Cancel Booking</button>
                                </form>
                            <% } else { %>
                                <p class="text-danger">Booking Canceled</p>
                            <% } %>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } %>
</div>
</body>
